@media (max-width: 768px) 
{
	/* показываем кнопку для переключения верхней навигации */
	.nav-toggle 
	{
        grid-area: menu;
        margin: 0 20px 0 0;
		display: flex;
	}
	/* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */ 
	#menu 
	{
		max-height: 0;
		background: white;
		position: absolute;
		overflow: hidden;
		top: 63px;
		right: 0;
		left: 0;
		margin: 0;
		padding: 0;
		z-index: 3;
	}
	/* делаем элементы списка блочными, чтобы они располагались друг под другом */
	#menu li 
	{
        display: flex;
        flex-direction: column;
		text-align: center;
		border-bottom: 1px solid #EBEBE3;
		
    }
}
@media (max-width: 480px) 
{
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo{
        margin: 0;
    }
	/* отменяем обтекание для логотипа и выравниваем по центру*/
	.logo span {
		margin: 0 2px;
    }
    .nav-toggle {
        margin: 10px 0 0 0;
	}
	/* позиционируем меню на увеличившуюся высоту шапки */
	#menu {
		top: 100px;
	}
	/* отменяем обтекание для столбцов подвала страницы */
	footer {
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0 20px 0;
    }
    .footer-col {
        margin: 20px 0 0 0;
    }
}