@media (max-width: 768px) 
{
	.container
	{
        display: grid;
        grid-template-areas:    ". posts ."
                                ". aside .";
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: auto auto;
	}
    /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
    .posts-list{
        padding: 0;
    }
	.post
	{
		margin: 0 0 30px 0;
    }
}
@media (max-width: 480px) 
{
    /* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
	.post-footer 
	{
		border-top: none;
		border-bottom: none;
		text-align: center;
	}
	/* отменяем позиционирование кнопок соцсетей */
	.post-social 
	{
		position: static;
		text-align: center;
		transform: none;
		margin-top: 20px;
	}
}