/* COMPONENTS */
@import url('../../components/common_style.css');
@import url('../../components/header_style.css');
@import url('../../components/footer_style.css');
@import url('../../components/aside_style.css');
/* PAGE */
@import url('../../pages/post/content_style.css');
/* ADAPTABILITY */
@import url('../../components/adapt_components_media.css');
@import url('../../pages/post/adapt_media.css');

@media (min-width: 768px) 
{
    .container{
        display: grid;
        grid-template-areas: ". content aside .";
        grid-template-columns: 10% 1fr 0.3fr 10%;
    }
}
